.page-section {
    padding: 1rem 0;
    @mixin atMedium{
        padding: 4.5rem 0;
    }
    &--blue{
         background: $mainBlue;
        color: $mainWhite;
    }
    &--testimonial{
        background-color: #e0e6ef;
        @mixin atLarge{        
        background: url("/image/bg.jpg") no-repeat top center/cover;
        }    
    }
}